.navbar-inverse {
    color: red;
    background-color: lightblue;
    border-color: lightblue;
}

.navbar-inverse .navbar-brand {
    color: red;
    background-color: lightblue;
    border-color: lightblue;
}

.navbar-inverse .navbar-nav>li>a {
    color: red;
}

body {
    background: url("cupertino_market.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.transbox {
    background: rgb(0,0,0);
    margin: 30px;
    background: rgba(0,0,0,0.6);
}

div.transbox h1 {
    margin: 5%;
    font-weight: bold;
    color: #FFFFFF;
}